.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}


.custom {
	color: red;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}


.home-container {
	width: 100%;
	margin: 20px auto;
	position: relative;
	// background-color: red;

	@include breakpoint(desktopSmall) {
		margin: 0px auto;
		margin-bottom: 20px;
	}

	@include breakpoint(tablet) {
		max-width: 1440px;
		padding: 0px 35px;
	}

	@include breakpoint(desktop) {
		margin-bottom: 0px;
	}
}

.error-message-location-not-enabled {
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;
	background-color: whitesmoke;
	padding: 12px 6px;
	width: 90%;

	@include breakpoint(tablet) {
		font-size: 40px;
		width: 75%;
		padding: 12px 20px;
	}
}
