.current-location-details-container {
    display: flex;
    margin-top: 55px;
    margin-bottom: 35px;
    justify-content: space-between;
    height: 270px;

    .weather-info {
        order: 2;
        text-align: center;
        width: 50%;

        &--heading {
            font-size: 50px;
        }

        &__group {
            display: flex;
            align-items: flex-end;
            padding: 0px 8px;

            &--icon {
                width: 200px;
                height: 200px;
                scale: 1.5;
            }

            .group-temp {
                padding-bottom: 50px;
                margin-left: 50px;
                &--value {
                    font-size: 60px;
                }

                &--text {
                    font-size: 16px;
                    font-weight: bold;
                }

                &--span {
                    font-size: 20px;
                    font-weight: normal;
                }
            }

            .group-units {
                padding-bottom: 60px;
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 24px;

                span {
                    padding: 12px 0px;
                }
            }

            .group-limits {
                padding-bottom: 90px;
                margin-left: 30px;
                display: flex;
                flex-direction: column;

                span {
                    padding: 3px 0px;
                }
            }
        }
    }

    .additional-info-list {
        width: 30%;
        order: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 31%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: rgba(217, 217, 217, 0.3);
            border-radius: 22px;
            margin-top: 20px;

            &:hover {
                background-color: rgba(235, 235, 235, 0.8);
            }

            &--heading {
                font-size: 14px;
                font-weight: bold;
                line-height: 16px;
            }

            &--value {
                font-size: 22px;
                padding: 10px 0px;
            }

            &--details {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .astro-info {
        width: 20%;
        order: 3;
        height: 260px;
        background: rgba(217, 217, 217, 0.3);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;

        &:hover {
            background: rgba(235, 235, 235, 0.7);
        }

        &:hover .astro-info__circle {
            background: #bebebe;
        }

        &__circle {
            position: relative;
            width: 135px;
            height: 135px;
            background: #e4e4e4;
            border-radius: 50%;

            &--bullets {
                position: absolute;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.23);
            }

            .b-large {
                width: 36px;
                height: 36px;
                top: 25px;
                left: 25px;
            }

            .b-medium {
                width: 24px;
                height: 21px;
                top: 110px;
                left: 65px;
            }

            .b-small {
                width: 12px;
                height: 12px;

                &--first {
                    top: 15px;
                    left: 55px;
                }

                &--second {
                    top: 70px;
                    left: 15px;
                }

                &--third {
                    top: 105px;
                    left: 95px;
                }
            }
        }

        &__heading {
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
            padding-top: 20px;
            padding-bottom: 5px;
        }

        &__moonphase {
            padding-bottom: 10px;
        }

        &__visibility {
            padding-bottom: 10px;
        }

        &__distance {
            color: #000000;
        }
    }
}


