//     .additional-info-list {
//         &__item {
//             &:hover {
//                 background-color: rgba(235, 235, 235, 0.8);
//             }


//     .astro-info {
//         &:hover {
//             background: rgba(235, 235, 235, 0.7);
//         }

//         &:hover .astro-info__circle {
//             background: #bebebe;
//         }
//     }

.current-location-details-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include breakpoint(tablet) {
        padding-top: 60px;
    }

    .weather-info {
        width: 100%;
        margin: 0px auto;

        @include breakpoint(tablet) {
            width: 500px;
        }

        @include breakpoint(desktop) {
            width: 650px;
        }

        &--heading {
            text-align: center;
            font-size: 24px;

            @include breakpoint(mobile) {
                font-size: 30px;
            }

            @include breakpoint(tablet) {
                font-size: 35px;
            }

            @include breakpoint(middleViewport) {
                font-size: 45px;
            }

            @include breakpoint(desktop) {
                font-size: 60px;
            }
        }

        &__group {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px 5%;

            @include breakpoint(mobile) {
                padding: 0px 20%;
            }

            @include breakpoint(tablet) {
                justify-content: space-between;
                padding: 0px;
                padding-top: 40px;
                padding-left: 10%;
                padding-right: 5%;
            }

            @include breakpoint(middleViewport) {
                padding-right: 0%;
            }

            &--icon {
                width: 100px;
                scale: 1;

                @include breakpoint(mobile) {
                    width: 125px;
                }

                @include breakpoint(tablet) {
                    width: 175px;
                }

                @include breakpoint(middleViewport) {
                    width: 200px;
                    scale: 1.2;
                }

                @include breakpoint(desktopSmall) {
                    scale: 1.4;
                }

            }

            .group-temp {
                text-align: center;
                font-weight: bold;

                @include breakpoint(desktop) {
                    padding-left: 10%;
                }

                &--value {
                    font-size: 28px;

                    @include breakpoint(mobile) {
                        font-size: 40px;
                    }

                    @include breakpoint(tablet) {
                        font-size: 70px;
                    }
                }
                &--text {
                    line-height: 125%;

                    @include breakpoint(mobile) {
                        line-height: 150%;
                    }
                }

            }

            .group-units, .group-limits {
                display: flex;
                flex-direction: column;
                font-size: 20px;

                @include breakpoint(tablet) {
                    font-size: 24px;
                }
            }

            .group-units {
                span {
                    padding: 15px 0px;
                }
            }

        }
    }

    .additional-info-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.23);

        @include breakpoint(mobile) {
            border-radius: 0px;
            background: none;
            width: 290px;
            height: 260px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }

        @include breakpoint(tablet) {
            align-items: flex-start;
            position: absolute;
            top: 120px;
            left: 35px;
        }

        @include breakpoint(middleViewport) {
            width: 330px;
        }

        @include breakpoint(desktopSmall) {
            width: 400px;
        }

        &__item {
            display: flex;
            align-items: center;
            width: 80%;
            margin: auto;
            border-bottom: 1px solid rgba(0, 0, 0, 0.23);
            padding: 4px;

            &:last-of-type {
                border-bottom: none;
            }

            @include breakpoint(mobile) {
                background: rgba(217, 217, 217, 0.23);
                border-bottom: none;
                width: 90px;
                height: 110px;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 0px;
                border-radius: 20px;
            }

            @include breakpoint(middleViewport) {
                width: 100px;
                margin-bottom: 20px;
            }

            @include breakpoint(desktopSmall) {
                padding: 20px 0px;
                width: 120px;
                height: 120px;
            }

            &--heading {
                font-size: 12px;
                font-weight: bold;
                width: 40%;
                text-align: right;

                @include breakpoint(mobile) {
                    width: auto;
                    text-align: center;
                }

                @include breakpoint(desktopSmall) {
                    font-size: 18px;
                }
            }

            &--value {
                font-size: 16px;
                width: 20%;
                text-align: center;
                margin: 0px 20px;

                @include breakpoint(mobile) {
                    font-size: 22px;
                    width: auto;
                    padding: 0px;
                }
            }

            &--detail {
                font-size: 12px;
                width: 40%;
                text-align: left;

                @include breakpoint(mobile) {
                    width: auto;
                    text-align: center;
                }

                span {
                    padding: 0px 6px;
                }
            }
        }
    }

    .astro-info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 100px;
        background: rgba(217, 217, 217, 0.23);
        border-radius: 16px;
        padding: 20px 0px;
        margin-top: 12px;

        @include breakpoint(mobile) {
            flex-direction: column;
            justify-content: space-between;
            width: 180px;
            height: 280px;
            margin-top: 0px;
        }

        @include breakpoint(tablet) {
            width: 200px;
            top: 80px;
            right: 35px;
            position: absolute;
        }

        @include breakpoint(middleViewport) {
            width: 220px;
        }

        @include breakpoint(desktopSmall) {
            width: 260px;
            height: 300px;
        }

        &__circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #D9D9D9;
            position: relative;

            @include breakpoint(mobile) {
                width: 135px;
                height: 135px;
            }

            &--bullets {
                position: absolute;
                background: rgba(0, 0, 0, 0.23);
                border-radius: 50%;
            }

            .b-large {
                width: 25px;
                height: 25px;
                top: 10px;
                left: 12px;

                @include breakpoint(mobile) {
                    width: 35px;
                    height: 35px;
                    top: 25px;
                    left: 25px;
                }
            }

            .b-medium {
                width: 15px;
                height: 15px;
                top: 65px;
                left: 35px;

                @include breakpoint(mobile) {
                    width: 25px;
                    height: 25px;
                    top: 90px;
                    left: 50px;
                }

                @include breakpoint(desktopSmall) {
                    top: 100px ;
                    left: 50px;
                }
            }

            .b-small {
                width: 8px;
                height: 8px;

                @include breakpoint(mobile) {
                    width: 15px;
                    height: 15px;
                }

                &--first {
                    top: 10px;
                    left: 40px;

                    @include breakpoint(mobile) {
                    top: 15px;
                    left: 75px;
                    }
                }

                &--second {
                    top: 30px;
                    left: 6px;

                    @include breakpoint(mobile) {
                        top: 75px;
                        left: 15px;
                    }
                }

                &--third {
                    top: 60px;
                    left: 50px;

                    @include breakpoint(mobile) {
                        top: 80px;
                        left: 80px;
                    }

                    @include breakpoint(desktopSmall) {
                        top: 100px;
                        left: 80px;
                    }
                }
            }
        }

        &__heading {
            font-size: 16px;
            font-weight: bold;
            width: 25%;
            text-align: center;

            @include breakpoint(mobile) {
                width: auto;
                font-size: 18px;
            }
        }

        &__moonphase,
        &__visibility,
        &__distance {
            font-size: 12px;
            width: 20%;
            text-align: center;

            @include breakpoint(mobile) {
                width: auto;
                font-size: 14px;
            }
        }

        &__distance {
            display: none;

            @include breakpoint(mobile) {
                display: block;
            }
        }
    }
}
