.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}


.custom {
	color: red;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}


.home-container {
	width: 100%;
	margin: 0px auto;
	position: relative;
	background-color: red;

	@include breakpoint(tablet) {
		max-width: 1440px;
		padding: 0px 35px;
	}
}
